.logo--main {
	// Из state состояние hover
	@extend %isLogo--hover;
	@extend .show;
	@extend %align-center;


	// Декоративные эффекты
	color         : $white;
	font          : 700 rem(48px)#{/1.5} $font--yanone;
	letter-spacing: rem(3px);
	text-shadow   : rem(2px) rem(2px) $black;
}