.navbar-default {
	@extend .col-xs-12;
	@extend .col-sm-12;
	@extend .col-md-12;
	@extend .col-lg-12;
	// обязательное ли это писать????????!!!!!!!!!!!!!!!!!!!!!!!
}

@include xs-and-less {
	// Расположение кнопки для мобильников
	.navbar-toggle {
		display: block;
		margin : auto;
		float  : none;
	}

}