<!DOCTYPE html>
<html> 
<head>

	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<title>AIC</title>
	<meta name="keywords" content="Artificial Internet Crawler">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="css/styles.css" rel="stylesheet">

</head>

<body data-ng-app="app">

<!--=========================Header=======================================================-->
	<header>
		<a href="/" class="logo--main">AIC</a>
	</header>
<!--=========================Header закончился===============================================-->
	<div class="main">
		<div data-ng-controller="listsCtrl as lists">
<!--=========================Настройки=======================================================-->
			<div class="settings">
				<h4 class="list__header">
					<a ng-click="isCollapsedSettings = !isCollapsedSettings" class="list__header--link" href>Настройки <span class="caret"></span></a>
				</h4>
				<div collapse="isCollapsedSettings" class="dropdown-list">

					<div class="source">
						<div class="source__btn-group">
							<a class="source__buttons--success {{lists.class}}" data-ng-click="lists.youtube_toggle.move_toggle(1); lists.delete_first_load_toggle()" data-ng-class="{toggle_off: lists.youtube_toggle.toggle_off}">Вкл</a>
							<a class="source__buttons--danger" data-ng-click="lists.youtube_toggle.move_toggle(0); lists.delete_first_load_toggle()">Выкл</a>
						</div>
						<span class="source__text">YouTube</span>
					</div>

					<div class="source">
						<div class="source__btn-group">
							<a class="source__buttons--success {{lists.class}}" data-ng-click="lists.habrahabr_toggle.move_toggle(1); lists.delete_first_load_toggle()" data-ng-class="{toggle_off: lists.habrahabr_toggle.toggle_off}">Вкл</a>
							<a class="source__buttons--danger" data-ng-click="lists.habrahabr_toggle.move_toggle(0); lists.delete_first_load_toggle()">Выкл</a>
						</div>
						<span class="source__text">ХабраХабр</span>
					</div>

					<div class="source">
						<div class="source__btn-group">
							<a class="source__buttons--success {{lists.class}}" data-ng-click="lists.pikabu_toggle.move_toggle(1); lists.delete_first_load_toggle()" data-ng-class="{toggle_off: lists.pikabu_toggle.toggle_off}">Вкл</a>
							<a class="source__buttons--danger" data-ng-click="lists.pikabu_toggle.move_toggle(0); lists.delete_first_load_toggle()">Выкл</a>
						</div>
						<span class="source__text">Pickabu</span>
					</div>

					<div class="source">
						<div class="source__btn-group">
							<a class="source__buttons--success {{lists.class}}" data-ng-click="lists.trinixy_toggle.move_toggle(1); lists.delete_first_load_toggle()" data-ng-class="{toggle_off: lists.trinixy_toggle.toggle_off}">Вкл</a>
							<a class="source__buttons--danger" data-ng-click="lists.trinixy_toggle.move_toggle(0); lists.delete_first_load_toggle()">Выкл</a>
						</div>
						<span class="source__text">Триникси</span>
					</div>

					<div class="source">
						<div class="source__btn-group">
							<a class="source__buttons--success {{lists.class}}" data-ng-click="lists.motor_toggle.move_toggle(1); lists.delete_first_load_toggle()" data-ng-class="{toggle_off: lists.motor_toggle.toggle_off}">Вкл</a>
							<a class="source__buttons--danger" data-ng-click="lists.motor_toggle.move_toggle(0); lists.delete_first_load_toggle()">Выкл</a>
						</div>
						<span class="source__text">Motor</span>
					</div>

				</div>
			</div>
<!--=========================Настройки закончились========================================-->

<!--=========================Подписки=======================================================-->
			<div class="subscribe">
				<h4 class="list__header">
					<a ng-click="isCollapsedVaria = !isCollapsedVaria" class="list__header--link" href>Подписки <span class="caret"></span></a>
				</h4>

				<div collapse="isCollapsedVaria" class="dropdown-list--subscribe">
					<a data-ng-repeat="header in lists.youtube.headers" data-ng-hide="lists.youtube_toggle.toggle_off" class="subscribe__links" href="#">
						<img class="subscribe__img" data-ng-src="img/lists/source-logo/{{lists.youtube.img}}" alt="YouTube">{{header}}
					</a>
					<a data-ng-repeat="header in lists.habrahabr.headers" data-ng-hide="lists.habrahabr_toggle.toggle_off" class="subscribe__links" href="#">
						<img class="subscribe__img" data-ng-src="img/lists/source-logo/{{lists.habrahabr.img}}" alt="Habrahabr">{{header}}
					</a>
						<!-- <a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/youtube.ico" alt="YouTube">Lorem ipsum dolor sit amet
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/youtube.ico" alt="YouTube">Lorem ipsum dolor sit amet
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/youtube.ico" alt="YouTube">Lorem ipsum dolor sit amet
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/youtube.ico" alt="YouTube">Lorem ipsum dolor sit amet
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/habrahabr.png" alt="HabraHabr">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/pikabu.ico" alt="Pikabu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/trinixy.ico" alt="Trinixy">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a>
						<a class="subscribe__links" href="#">
							<img class="subscribe__img" src="img/lists/source-logo/motor.ico" alt="Motor">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a> -->
				</div>
			</div>
		</div>
<!--=========================Подписки закончились=============================================-->
<!--================================Новое====================================================-->
		<div class="row">
			<h4 class="list__header">
				<a ng-click="isCollapsedNew = !isCollapsedNew" class="list__header--link">Новое <span class="caret"></span></a>
			</h4>
			<div collapse="isCollapsedNew">

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

			</div>
		</div>
<!--================================Новое закончилось========================================-->
<!--===================================Интересное============================================-->
		<div class="row">
			<h4 class="list__header">
				<a ng-click="isCollapseInteresting = !isCollapseInteresting" class="list__header--link">Интересное <span class="caret"></span></a>
			</h4>

			<div collapse="isCollapseInteresting">

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<section class="big-news">
					<div class="big-news__text">
						<h2 class="big-news__header">Lorem ipsum dolor sit amet</h2>
						<p class="big-news__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non odio quam cumque reprehenderit sequi quas.</p>
						<span class="big-news__source-and-time">
							<span class="big-news__source__time">9ч</span> назад на <span class="big-news__time__source">YouTube</span>
						</span>
					</div>
					<a href="#" class="big-news__img--wrapper">
						<img src="http://lorempixel.com/436/273/fashion" alt="Fashion">
					</a>
				</section>

				<a class="more-news" href="#">Хочу еще →</a>
			</div>
		</div>
<!--===================================Интересное закончилось(началось скучное)=============-->
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
	<script src="js/script.js"></script>
</body>
</html>