.big-news {
	@extend %position-relative;
	@extend %overflow-hidden;
	// Контейнер для всего что содержит новость
	margin: 0 auto rem(20px) auto;
	@include xs {
		max-width: rem(436px);
	}

	@include sm-and-lg {
		width: 31%;
		margin-bottom: rem(20px);
		float: left;

		&:nth-child(3n+2) {
			margin: 0 3.5% rem(20px);
		}
	}

	background-color: $link-hover-color;

	&__text {
		@extend %position-absolute;
	}

	&__header,
	&__paragraph {
		padding: 0  rem(5px) rem(7px) rem(5px);
	}

	&__header,
	&__paragraph,
	&__source-and-time {
		color: $white;
	}

	&__header {
		font-size: rem(13px);
	}

	&__paragraph {
		@extend %overflow-hidden;

		font-size     : rem(11px);
		padding-bottom: rem(18px);

		max-height    : rem(160px);
	}

	&__source-and-time {
		@extend .pull-right;
		padding-right: rem(5px);
	}
	// Ссылка обертка для картинки
	&__img--wrapper {
		@extend %position-relative;
		@extend .show;

		&:hover>img {
			@extend %isTransition--hover;
			opacity: .1;
		}
	}
}
// Ссылочка внизу страницы, на доп новости
.more-news {
	@extend .pull-right;
}