.subscribe {
	@extend .pull-left;
	width         : 100%;
	border-radius : $border-radius-base;

	&__links {
		@extend .show;
		@extend %text-shadow-lists;
		@extend %overflow-hidden;
		@extend %isTransition--hover;
		
		color        : $text-color;
		padding      : rem(5px) 0;
		white-space  : nowrap;
		text-overflow: ellipsis;
	}

	&__img {
		@extend %inline-block;
		height : 1em;
		padding: 0 rem(7px) 0 rem(3px);
	}
}

// Родитель списков на самом деле не subscribe, а dropdown-lists
%dropdown-list--subscribe {
	@include sm-and-lg {
		columns: 4 auto;
	}
}